Source: apt-howdy
Section: utils
Priority: extra
Maintainer: Juan A. Suarez Romero <jasuarez@igalia.com>
Build-Depends: debhelper (>= 5), libalarm-dev (>=1.1.10)
Standards-Version: 3.7.2

Package: apt-howdy
Architecture: any
Depends: ${misc:Depends}, apt, busybox
Description: Notify new available packages
 apt-howdy is an utility that checks for new packages available in repositories
 and notifies them through RSS.
 .
 RSS file will be located in file:///home/user/.apt-howdy/new-packages.xml

